* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

section {
    height: 100vh;
    padding-top: 2em;
    margin: auto;
    background-color: #222831;
}

.scores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scores h2 {
    font-size: 20px;
    color: whitesmoke;
}

.scores p {
    font-size: 22px;
    padding: 10px;
    color: white;
}



.options,
.hands {
    display: flex;
    justify-content: space-around;
}

.rock,
.paper,
.scissors {
    display: inline-block;
    border: 2px solid #f6f6f6;
    border-radius: 50%;
    text-align: center;
    background-color:#0f0f0f;
    padding: 16px;
    font-size: 48px;
    cursor: pointer;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}